<!DOCTYPE html>
<html ng-app>
    <head>
        <title ng-controller="NamesController">{{title}}</title>
        <meta charset="UTF-8">
        <script src="angular.min.js"></script>
        <script>
            function NamesController($scope) {
                $scope.title = "Kung fu";
                $scope.styles = [
                    {name: "Wing Tsun", origin: "China"},
                    {name: "Shaolin-do", origin: "China"},
                    {name: "Judo", origin: "Japan"},
                    {name: "Taekwon-do", origin: "Korea"}
                ];
            }
        </script>
    </head>
    <body>
        <input type="text" ng-model="search" />
        <ul ng-controller="NamesController">
            <li ng-repeat="style in styles | filter:search | orderBy:'name' ">
                {{style.name | uppercase }} from {{style.origin}}
            </li>
        </ul>
    </body>
</html>
