<div ng-tabs id="tabs">
	<ul>
		<li><a href="#tabs-1">FIRST</a></li>
		<li><a href="#tabs-2">SECOND</a></li>
		<li><a href="#tabs-3">THIRD</a></li>
	</ul>
	<div id="tabs-1">
		<p>This is the default tab you see, and navigationService persists the last tab open, so when you come back, it will be remembered.</p>
	</div>
	<div id="tabs-2">
		<p>In addition the URL is also changed (query parameter only), so you can navigate with the back and forward buttons.</p>
	</div>
	<div id="tabs-3">
		<p>You can also create direct links with the <a href="#/persistent_subview?tabActive=1">query parameter</a>.</p>
	</div>
</div>